@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
.links-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap:20px;
}
.links-container a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;

}

.links-container a:hover{
    text-decoration: underline;

}


.container{
    margin: 2% 10%;
}
.heading{
    font-size: 3rem;
    cursor: default ;
}

.sub-heading{
    margin:2% 0;
}


.main-container{
    border: 2px solid black;
    margin: 20px 0;
    padding: 2% 5% 4%;
}





















